*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border-bottom: 0.5px solid rgb(129, 126, 126);
    height: 50px;
    
}
.nav a{
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}
.navbar-brand {
    font-size: 20px;
}
.navbar-brand span{
    color:#4287f5;
}
.main{
    height: 550px;
}
.carousel{
    margin: 20px;
    margin-right: 40px;
    margin-left: 40px;
}
.carousel-caption h5,p{
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}
.second-pg{
    height: 1550px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: lightgray;
}
.news{
    grid-column: 2 / 8;
    grid-row: 2 / 8;
   
}
.row{
    border: 1px solid gray;
}

.card-body h5{
    color: #4287f5;
    font-size: 13px;
}
.card-body p{
    color: #000;
    text-shadow: none;
    font-size: 10px;
}
.card{
    margin: 20px;
    height: 310px;
}
.aside{
    grid-column: 9 / 12;
    grid-row: 2 / 7 ;
}
.aside-content{
    flex-wrap: wrap;
    flex-basis: 50%;
    border: 1px solid gray;
}
.aside-content-1{
    background-image: url(https://storage.highresaudio.com/2022/02/25/jsbi6w-blackradio-preview-m3.jpg);
    background-size: 100%;
    height: 200px;
}
.aside-content-2{
    background-image: url(https://e.snmc.io/i/600/s/0038bd37bb9b61cec016b3f94df3848e/9427508/silvana-estrada-marchita-Cover-Art.jpg);
    height: 200px;
    background-size: 100%;
}
.aside-content-3{
    background-image: url(https://f4.bcbits.com/img/0027358528_0);
    height: 200px;
    background-size: 100%;
}
.aside-content-4{
    background-image: url(https://subpop-wysiwyg.s3.amazonaws.com/uploads%2F1636470418030-beachhouse-oncetwicemelody-std-1500.jpeg);
    height: 200px;
    background-size: 100%;
}
.aside-content-5{
    background-image: url(https://media.pitchfork.com/photos/62069794aa22b64254b46971/1:1/w_600/100000x100000-999-2.jpg);
    height: 200px;
    background-size: 100%;
}
.aside-content-6{
    background-image: url(https://media.pitchfork.com/photos/61966340061137443e894b26/1:1/w_600/Eddie-Vedder-Earthlings.jpg);
    height: 200px;
    background-size: 100%;
}
.aside-content h5{
    margin-top: 150px;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    background-color: #C0C0C0;
    font-size: 17px;
}
.aside-content-5 h5{
    font-size: 16px;
}
.form{
    grid-column: 9 / 12;
    grid-row: 9 / -1;
    margin-top: 15px;
    font-weight: bold;
    border: 1px solid gray;
    padding-left: 15px;
    padding-top: 15px;
    background-color: #dce0e6;
}
.form img{
    padding-top: 10px;
    padding-left: 20px;
}
.form ::placeholder{
    font-size: 13px;
}
.AllMusic{
    margin-left: 25px;
}
.select{
    font-size: 13px;
}
footer{
    height:600px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: #000;
}
.Properties{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}
.About{
    grid-column: 4 / 6;
    grid-row: 2 / 3;
}
.YourACC{
    grid-column: 6 / 8;
    grid-row: 2 / 3;
}
.Follow{
    grid-column: 8 / 10;
    grid-row: 2 / 3;
}
.logofooter{
    grid-column: 11 / 12;
    grid-row: 1 / 3; 
    margin-top: 35px;
}
.Overview{
    grid-column: 2 / 4;
    grid-row: 3 / 5 ;
}
.Contact{
    grid-column: 4 / 6;
    grid-row: 3 / 5 ;
}
.RemoveAds{
    grid-column: 6 / 8;
    grid-row: 3 / 5 ;
}
footer ul li{
    list-style: none;
    text-decoration: none;
    color: #4287f5;
    font-size: 13px;
}
footer ul h6{
    color: #fff;
}
.TheEnd{
    grid-column: 1 / 5;
    grid-row: 7 / 8;
    padding-left: 20px;
}
.TheEnd h6{
    font-size: 13px;
    color: #fff;
}
.input-group{
    grid-column: 7 / -1;
    grid-row: 7 / 8;
    width: 3px;
    height: 1px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.input-group input{
    
    padding-right: 50px;
    padding-left: 5px;
}

.inpt{
    margin-right: 15px;
    height: 40px;
    margin-left: 200px;
}
.btn{
    height: 40px;
    margin-right: 20px;
    
    
}
.footerlabel{
    font-size: 11px;
    color: #fff;
    padding-left: 95px;
    padding-right: 170px;
    
}